/*Animations*/
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/*Navbar Styles*/
.navbar-fixed {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 400px;
  background: #222;
}

.navbar-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
}

.navbar-title h1 {
  position: relative;
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 4em;
  color: #FFF;
}

.navbar-title img {
  box-sizing: content-box;
  width: 340px;
  height: auto;
  padding: 20px;
  background: transparent;
}

.navbar-title .nav-selection {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 2em;
  font-weight: 400;
  color: #FFF;
  background: transparent;
  padding: 3px 20px;
  border: 0;
  border-radius: 5px;
  transition: background 200ms ease-in-out;
  -webkit-transition: background 200ms ease-in-out;
}

.navbar-title .nav-selection:hover {
  cursor: pointer;
  background: #888;
}

.navbar-fixed .divider {
  display: inline-block;
  height: 1px;
  width: 40%;
  background: #FFF;
  margin: 10px 0;
}

.navbar-btn {
  position: absolute;
  top: 60px;
  right: 10vw;
  margin: 0 20px;
  background: transparent;
  border: 0;
}

.navbar-btn i {
  color: #FFF;
  font-size: 3em;
}

/*Navbar Menu Styles*/
.selection-container {
  z-index: 999;
  position: absolute;
  background: #222;
  box-shadow: 0 0 5px rgba(0,0,0.5);
  top: -100vh;
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  height: auto;
  width: 80vw;
  max-width: 1024px;
  transition: top 400ms ease-in-out;
  -webkit-transition: top 400ms ease-in-out;
}

.selection-container.active {
  top: 0;
}

.selection-list,
.selection-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.selection-item {
  transition: background 300ms ease;
  -webkit-transition: background 300ms ease;
}

.selection-item:hover {
  cursor: pointer;
  background: #888;
}

.selection-item h1 {
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFF;
  font-size: 4em;
}

/*Main View Styles*/
.main-container {
  position: absolute;
  top: 250px;
  left: 50%;
  z-index: 996;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.feed-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 10vw;
}


/*RSS Feed Item Styles*/
.feed-item {
  display: flex;
  visibility: visible;
  opacity: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 25%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
  transition: filter 400ms ease-in-out;
  -webkit-transition: -webkit-filter 400ms ease-in-out;
  animation: fadeIn 800ms ease-in-out 1;
  -webkit-animation: fadeIn 800ms ease-in-out 1;
  color: #FFF;
}

.feed-item:hover,
.feed-item.selected {
  cursor: pointer;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

.feed-item:hover .feed-info,
.feed-item.selected .feed-info {
  visibility: visible;
  opacity: 1;
}

.feed-info {
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  background: rgba(0,0,0, 0.5);
  transition: visibility 300ms ease-in-out, opacity 400ms ease-in-out;
  -webkit-transition: visibility 300ms ease-in-out, opacity 400ms ease-in-out;
}

.feed-info h3,
.feed-info span {
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: 400;
}

.feed-info h3 {
  font-size: 1.6em;
  line-height: 1.2em;
  margin: 10px 10px 0 10px;
}

.feed-info span {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 5px 10px 10px 10px;
}

.feed-img {
  max-width: 100%;
}


/*Feed Detail Styles*/
.detail-container {
  z-index: 998;
  position: fixed;
  bottom: -100vh;
  left: 50%;
  height: 95vh;
  width: 90vw;
  max-width: 1024px;
  background: #FFF;
  overflow: hidden;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  transition: bottom 400ms ease-in-out;
  -webkit-transition: bottom 400ms ease-in-out;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.detail-container.selected {
  bottom: 0;
}

.detail-feed-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #333;
}

.nav-close-button,
.close-button {
  z-index: 999;
  position: fixed;
  width: 60px;
  height: 60px;
  top: 20px;
  right: 20px;
  border: 0;
  border-radius: 30px;
  background: transparent;
  transition: background 300ms ease;
  -webkit-transition: background 300ms ease;
}

.nav-close-button i,
.close-button i {
  vertical-align: middle;
}

.nav-close-button {
  background: #222;
}

.close-button {
  background: rgba(255,255,255,0.5);
}

.nav-close-button i {
  color: #FFF;
}

.nav-close-button i,
.close-button i {
  font-size: 3em;
}

.nav-close-button:hover {
  cursor: pointer;
  background: #888;
}

.close-button:hover {
  cursor: pointer;
  background: #BBB;
}

.detail-feed-container .detail-img {
  align-self: center;
  width: 100%;
  max-width: 1024px;
  height: 500px;
  overflow: hidden;
  margin: 0 0 20px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.detail-feed-container h1,
.detail-feed-container span,
.detail-feed-container a {
  margin: 0 40px
}

.detail-feed-container h1 {
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1.2em;
  margin: 10px 40px 0 40px;
}

.detail-feed-container .author-date,
.detail-feed-container .date {
  display: inline;
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  margin: 0 40px;
}

.detail-feed-container .content-divider {
  align-self: center;
  width: 95%;
  height: 1px;
  background: #BBB;
  margin: 20px 0;
}

.detail-feed-container .content {
  margin: 10px 40px;
  font-size: 1.2em;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  width: 100%;
}


.link-container a {
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  line-height: 1em;
  transition: border-color 200ms ease-in-out;
  -webkit-transition: border-color 200ms ease-in-out;
}

.link-container a:hover {
  cursor: pointer;
  border-color: #333;
}

.link-container .share-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px 40px;
}

.share-container share-button {
  margin: 0 5px;
}

.share-container share-button .sb-wrapper.transparent {
  background: transparent;
  border: 0;
  transition: background 200ms ease-in-out, color 200ms ease-in-out;
  -webkit-transition: background 200ms ease-in-out, color 200ms ease-in-out;
}

.share-container share-button .sb-wrapper.transparent:hover {
  cursor: pointer;
  background: #333;
  color: #FFF;
}

/*Background Styles*/
.darken-bg {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 997;
  visibility: hidden;
  opacity: 0;
  transition: visibility 300ms ease-in-out, opacity 400ms ease-in-out;
  -webkit-transition: visibility 300ms ease-in-out, opacity 400ms ease-in-out;
}

.darken-bg.active {
  visibility: visible;
  opacity: 1;
}
