<div class="container">
  <h1>{{title}}</h1>
  <h4>{{message}}</h4>


  <div *ngIf="selectedObject">
    <div class="object-container">
      <h2>{{selectedObject.title}} Details</h2>
      <input [(ngModel)]="selectedObject.desc" placeholder="description" />
      <h4>{{selectedObject.num}}</h4>
    </div>
  </div>


  <div class="object-container">
    <ul class="object-list">
      <li *ngFor="let object of objects" [class.selected]="object === selectedObject" (click)="displayInfo(object)">
        <span class="object-title">{{object.title}}:</span><span class="object-desc">{{object.num}}</span>
      </li>
    </ul>
  </div>
</div>
