<div class="detail-container">
  <button class="close-button" (click)="close()"><i class="material-icons">close</i></button>
  <div *ngIf="currentFeed; else elseBlock" class="detail-feed-container">
      <img class="detail-img" src="{{currentFeed.img}}" />
      <h1>{{currentFeed.title}}</h1>
      <span class="author-date">{{currentFeed.author}}  {{currentFeed.date}}</span>
      <span class="content">{{currentFeed.content}}</span>
      <div class="link-container">
        <button><a href="{{currentFeed.link}}" class="feed-link" target="_blank">Read More ></a></button>
        <div class="share-container">
          <share-button button="facebook" url="{{currentFeed.link}}" title="{{currentFeed.title}}" image="{{currentFeed.image}}" buttonClass="share-button"></share-button>
          <share-button button="twitter" url="{{currentFeed.link}}" title="{{currentFeed.title}}" image="{{currentFeed.image}}" buttonClass="share-button"></share-button>
          <share-button button="google" url="{{currentFeed.link}}" title="{{currentFeed.title}}" image="{{currentFeed.image}}" buttonClass="share-button"></share-button>
          <share-button button="reddit" url="{{currentFeed.link}}" title="{{currentFeed.title}}" image="{{currentFeed.image}}" buttonClass="share-button"></share-button>
        </div>
      </div>
  </div>
</div>

<div class="darken-bg"></div>

<ng-template #elseBlock>other content here...</ng-template>
